<div class="about">
    <h1>{{message}}</h1>
    <img class="jslogo" src="../images/jslogo.png" alt="">
    <div class="wavy">
        <span style="--i:1; ">K</span>
        <span style="--i:2; ">E</span>
        <span style="--i:3; ">E</span>
        <span style="--i:4; ">P</span>
        <span style="--i:5; "> </span>
        <span style="--i:6; ">O</span>
        <span style="--i:7; ">N</span>
        <span style="--i:8; "> </span>
        <span style="--i:9; ">L</span>
        <span style="--i:10;">E</span>
        <span style="--i:11;">A</span>
        <span style="--i:12;">R</span>
        <span style="--i:13;">N</span>
        <span style="--i:14;">I</span>
        <span style="--i:15;">N</span>
        <span style="--i:16; ">G</span>
    </div>
    
    <ul>
        <li>
            This is a dummy website to show a <b>basic</b> implementation of css and javascript.
        </li>
        <li>
            It is just a demo of how can js and css be integrate to achieve dynamic content inside website.   
        </li>
        <li>
            Angular Js libraries and JQuery libraries has also been used here but just to build the website.
        </li>
        <li>
            Hey be sure to check out the rookie code of this website.<a class="github"href="{{link}}">(click here)</a> 
        </li>        
        <li>
            In case of any suggesstions or any broken links or any glitches feel free to write me here <b>arunangshu.biswas03@gmail.com</b>
        </li>
    </ul>    
</div>