<div class="downloads">
    <h1>{{message}}</h1>
    <h2>Note: Remember if the browser is too old or java script is disabled then features may not give the expected result or might not work at all </h2>

    <ul>
        <li><a href="https://drive.google.com/file/d/1hZimkGu057yLWCy98oqERRozom4fOdCF/view?usp=sharing">Analog responsive clock, tick tok.. tick tok...</a></li>
        <li><a href="https://drive.google.com/file/d/11Ni89-liWPW302DPR3iQv6WkM4kIhNWP/view?usp=sharing">Whackaboom: Ina mina moina mo catch the bad boy by his toes</a></li>
        <li><a href="https://drive.google.com/file/d/1NqEeEZsKNx4r27w9oO_5BvGJLvFRfWjG/view?usp=sharing">Find the image: Find me within 19 moves or is it not possible at all?</a></li>
        <li><a href="https://drive.google.com/file/d/1djZ9uI7cRFAtiEXaYtrKG4PAxh5CTGrC/view?usp=sharing">How strong can you remember a 4x4 grid?????</a></li>
    </ul>

</div>